@charset "UTF-8";
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  /* за замовчуванням address italic */
  font-style: normal;
}

:root {
  --logo-text-color: #2196f3;
  --logo-header-text-color: #000000;
  --black-bg-color: #2f303a;
  --first-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --portfolio-bg-overlay: #2196f3;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --primary-text-color: #757575;
  --primary-btn-bg-accentcolor: #188ce8;
  --accent-text-color: #2196f3;
  --accent-social-link: #188ce8;
  --primary-icon-color: #afb1b8;
  --logo-font-family: Raleway, sans-serif;
  --primary-font-family: Roboto, sans-serif;
  --card-item: 1;
  --card-gap: 30px;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: var(--primary-font-family);
  font-style: normal;
}

/* Global properties */
/* .visually-hiden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: var(--title-text-color);
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-set-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item));
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.logo {
  display: block;
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--logo-text-color);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

@media (min-width: 768px) {
  .logo--header-gap {
    margin-right: 88px;
  }
}
@media (min-width: 1200px) {
  .logo--header-gap {
    margin-right: 93px;
  }
}

.logo--footer-gap {
  padding: 0;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

.btn-menu--header, .btn-menu--footer, .btn-modal, .btn-secondary, .btn-primary {
  /* reset browser styles  - для кнопки потрібно скидати стилі*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 22px;
  border-radius: 4px;
  border-width: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  font-style: inherit;
  letter-spacing: inherit;
  text-align: center;
  border-color: transparent;
  color: var(--title-text-color);
  background: var(--secondary-bg-color);
}

.btn-primary {
  white-space: nowrap;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
}
.btn-primary:hover, .btn-primary:focus {
  background-color: var(--primary-btn-bg-accentcolor);
}
.btn-primary__icon--append {
  margin-left: 10px;
  fill: currentColor;
}

.btn-secondary {
  transition: color var(--transition), box-shadow var(--transition), background-color var(--transition);
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--black-text-color);
}
.btn-modal:hover, .btn-modal:focus {
  color: var(--accent-text-color);
}

.btn-modal__icon {
  fill: currentColor;
}

.btn-menu--header, .btn-menu--footer {
  margin-left: auto;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: black;
  transition: color var(--transition);
}
.btn-menu--header:hover, .btn-menu--footer:hover, .btn-menu--header:focus, .btn-menu--footer:focus {
  color: var(--accent-text-color);
}

.btn-menu--footer {
  position: absolute;
  top: 10px;
  right: 15px;
}

.btn-menu__icon-menu {
  fill: currentColor;
}

@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  --card-gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 48px 40px;
  background-color: white;
  transform: translatex(100%);
  transition: transform var(--transition), opacity var(--transition);
}
@media (max-width: 480px) {
  .mobile-menu {
    padding: 48px 15px;
  }
}

.mobile-menu.is-open {
  position: fixed;
  transform: translatex(0);
  opacity: 1;
  transition: transform var(--transition), opacity var(--transition);
}

.mob-site-nav {
  --card-item: 1;
  --card-gap: 32px;
  flex-direction: column;
  margin-bottom: 50px;
}
.mob-site-nav .site-nav__link {
  padding: 0;
  font-size: 40px;
  line-height: 1.18;
  flex-direction: column;
}
.mob-site-nav .site-nav__link.site-nav__current {
  color: var(--accent-social-link);
}
.mob-site-nav .site-nav__link.site-nav__current::after {
  content: "";
  height: 0;
  width: 0;
}
.mob-site-nav .site-nav__link:hover, .mob-site-nav .site-nav__link:focus {
  color: var(--accent-text-color);
}

.mob-contacts {
  --card-item: 1;
  --card-gap: 32px;
  flex-direction: column;
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-social-link);
  margin-bottom: 64px;
}

.mob-contacts__link--email {
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.mob-social-list {
  font-size: 18px;
  line-height: 1.22px;
  color: var(--accent-social-link);
  row-gap: 18px;
}

.mob-social-list__link::after {
  content: "";
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-social-list__link--last::after {
  content: "";
  margin-left: 0;
  border-width: 0;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-icon-color);
  transition: color var(--transition), background-color var(--transition);
}
.social__link:hover, .social__link:focus {
  color: var(--white-text-color);
  background-color: var(--accent-social-link);
}
.social__link--footer-color {
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-text-color);
}

.footer .social--gap {
  --card-gap: 10px;
}

.team-card .social--gap {
  --card-gap: 10px;
  justify-content: center;
}

@media (min-width: 768px) {
  .social-list {
    display: none;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg-color);
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  max-width: 450px;
  width: 100%;
  top: 50%;
  left: 50%;
  padding: 40px;
  overflow-y: scroll;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1, 1);
  transition: transform var(--transition);
}
@media screen and (max-width: 736px) and (max-height: 440px) {
  .modal {
    top: 20px;
    transform: translatex(-50%);
    max-height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .modal {
    padding: 40px 10px;
    width: calc(100vw - 10px);
    height: calc(100vh - 20px);
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0, 0);
}

.form-signup__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}
.form-signup__input:placeholder-shown {
  color: rgba(255, 255, 255, 0.6);
}
.form-signup__input:focus {
  color: var(--white-text-color);
}
@media (min-width: 1200px) {
  .form-signup__input {
    display: inline-flex;
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.form {
  color: var(--primary-text-color);
}

.form__field {
  margin-bottom: 10px;
}

.form__field--gap {
  margin-bottom: 20px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  align-self: center;
  margin-bottom: 12px;
}

.form__field {
  display: block;
}

.form__input-wrap {
  position: relative;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__textarea:placeholder-shown {
  color: rgba(var(--primary-text-color), 0.5);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__icon-input {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 14px 5px 14px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.17;
  transform: border-color var(--transition);
}

.form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.17;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transform: border-color var(--transition);
}

/* ---------- modal icon .checkbox ----------- */
.form__checkbox-policy {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  margin-top: 0;
}

.form__checkbox {
  /* appearance: none; + вендори для браузерів  - ховають чекбокс*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__icon-check {
  display: inline-flex;
  flex-shrink: 0;
  align-self: center;
  border: 2px solid;
  border-color: var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color var(--transition), border-color var(--transition);
}
@media (min-width: 1200px) {
  .form__icon-check {
    margin-right: 9px;
  }
}

.form__checkbox:checked + .form__icon-check {
  border-color: transparent;
  background-color: var(--accent-text-color);
}
.form__checkbox:focus-visible + .form__icon-check {
  border-color: var(--accent-text-color);
  background-color: var(--accent-text-color);
}

.form__checkbox-label {
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.form__checkbox-link {
  text-decoration: underline;
  color: var(--accent-text-color);
}

.form__field:focus-within .form__icon-input, .form__field:focus-within .form__input, .form__field:focus-within .form__textarea {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.form__btn {
  display: block;
  margin: 0 auto;
}

.address__link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-text-color);
  transition: color var(--transition);
}
.address__link--opacity {
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-text-color);
}

.address__item {
  padding: 0;
}

@media (min-width: 768px) {
  .header .site-nav {
    --card-item: 3;
    --card-gap: 50px;
  }
}
.site-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-color);
}
.site-nav__link.site-nav__current {
  position: relative;
  color: var(--accent-text-color);
}
.site-nav__link.site-nav__current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translatex(-50%);
  height: 4px;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
}

.header .contacts {
  flex-direction: column;
  --card-item: 1;
  --card-gap: 10px;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .header .contacts {
    flex-direction: row;
    --card-item: 2;
    --card-gap: 30px;
  }
  .header .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  align-items: center;
  color: var(--primary-text-color);
  transition: color var(--transition);
}
@media (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 8px;
}
@media (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts__icon--email {
    width: 16px;
    height: 12px;
  }

  .contacts__icon--tel {
    width: 10px;
    height: 16px;
  }
}
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
@media (max-width: 767.98px) {
  .header .site-nav,
.header .contacts,
.header .social-list {
    display: none;
  }
}

.header__container,
.header__nav {
  align-items: center;
  --card-gap: 0;
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  width: 100%;
  height: auto;
  /* резервний колір */
  background-color: var(--black-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mob/mob-herobackgroundimg.jpg");
}
@media (min-width: 320px) and (max-width: 479px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mob/mob-herobackgroundimg@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab/tab-herobackgroundimg.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab/tab-herobackgroundimg@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desc/desc-herobackgroundimg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desc/desc-herobackgroundimg@2x.jpg");
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  margin-bottom: 30px;
  font-size: 26px;
  color: var(--white-text-color);
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
@media (min-width: 1200px) {
  .hero__title {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .features__list {
    --card-item: 2;
  }
}
@media (min-width: 1200px) {
  .features__list {
    --card-item: 4;
  }
}

.feature__icon-wrap {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
}

.feature-wrap__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .feature-wrap__title {
    text-align: center;
  }
}

.feature-wrap__text {
  font-size: 14px;
  line-height: 1.71;
}

@media (max-width: 1199.98px) {
  .work {
    display: none;
  }
}

.work__item {
  --card-item: 3;
  position: relative;
}

.work__text {
  position: absolute;
  padding: 27px 5px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);
}

@media (min-width: 768px) {
  .team__list {
    --card-item: 2;
  }
}
@media (min-width: 1200px) {
  .team__list {
    --card-item: 4;
  }
}

.team--bg {
  background-color: var(--secondary-bg-color);
}

.team__item {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-card {
  padding: 30px 10px 24px;
}
@media (min-width: 1200px) {
  .team-card {
    padding-bottom: 30px;
  }
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.client__list {
  --card-item: 2;
}
@media (min-width: 768px) {
  .client__list {
    --card-item: 3;
  }
}
@media (min-width: 1200px) {
  .client__list {
    --card-item: 6;
  }
}

.client__link {
  position: relative;
  display: block;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);
  transition: border-color var(--transition), color var(--transition);
}

.client__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}
.client__icon:hover, .client__icon:focus {
  border-color: var(--accent-text-color);
  color: var(--accent-text-color);
}

.portfolio__filter {
  display: inline-flex;
  --card-gap: 8px;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .portfolio__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

.portfolio__list {
  --card-item: 1;
  --card-gap: 30px;
}
@media (min-width: 768px) {
  .portfolio__list {
    --card-item: 2;
  }
}
@media (min-width: 1200px) {
  .portfolio__list {
    --card-item: 3;
  }
}

.portfolio__item {
  background-color: var(--primary-white-color);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  padding: 77px 24px;
  background-color: var(--portfolio-bg-overlay);
  transform: translatey(100%);
  transition: transform var(--transition);
}
@media (min-width: 768px) {
  .portfolio__overlay {
    padding-top: 49px;
  }
}
@media (min-width: 1200px) {
  .portfolio__overlay {
    padding-top: 63px;
  }
}

.portfolio__note {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
}

.portfolio__wrap {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.portfolio__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition);
}
.portfolio__link:hover, .portfolio__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translatey(0);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer--color {
  background-color: var(--black-bg-color);
}
.footer .address__list {
  --card-gap: 8px;
  flex-direction: column;
}
@media (max-width: 480px) {
  .footer .address__list {
    --card-gap: calc(8 * (100vw / 480));
  }
}
@media (min-width: 1200px) {
  .footer .address__list {
    --card-gap: 9px;
  }
}

.footer__container {
  display: flex;
  text-align: center;
  --card-gap: 60px;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer__container {
    --card-item: 2;
    --card-gap: 60px;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    text-align: left;
    --card-gap: 0px;
  }
}

.footer__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}
.footer__title--white {
  color: var(--white-text-color);
}

@media (min-width: 1200px) {
  .footer__contact {
    margin-right: 70px;
  }

  .footer__social {
    margin-right: 93px;
  }
}/*# sourceMappingURL=main.css.map */