@charset "UTF-8";
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  /* за замовчуванням address italic */
  font-style: normal;
}

:root {
  --logo-text-color: #2196f3;
  --logo-header-text-color: #000000;
  --black-bg-color: #2f303a;
  --first-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --portfolio-bg-overlay: #2196f3;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --primary-text-color: #757575;
  --primary-btn-bg-accentcolor: #188ce8;
  --accent-text-color: #2196f3;
  --accent-social-link: #188ce8;
  --primary-icon-color: #afb1b8;
  --logo-font-family: Raleway, sans-serif;
  --primary-font-family: Roboto, sans-serif;
  --card-gap: 30px;
  --card-item: 3;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* Global properties */
/* .visually-hiden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: var(--title-text-color);
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-set-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item));
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  /* background-color: pink; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.logo {
  display: block;
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-text-color);
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.logo--header-gap {
  margin-right: 93px;
}

.logo--footer-gap {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

.btn, .btn__secondary, .btn__primary {
  /* reset browser styles  - для кнопки потрібно скидати стилі*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 22px;
  border-radius: 4px;
  border-width: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  font-style: inherit;
  letter-spacing: inherit;
  text-align: center;
  border-color: transparent;
  color: var(--title-text-color);
  background: var(--secondary-bg-color);
}
.btn__icon--append {
  margin-left: 10px;
  fill: currentColor;
}

.btn__primary {
  min-width: 200px;
  padding: 10px 32px;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
}
.btn__primary:hover, .btn__primary:focus {
  background-color: var(--primary-btn-bg-accentcolor);
}

.btn__secondary {
  transition: color var(--transition), box-shadow var(--transition), background-color var(--transition);
}
.btn__secondary:hover, .btn__secondary:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--black-text-color);
}

.btn-modal__icon {
  fill: currentColor;
}
.btn-modal__icon:hover, .btn-modal__icon:focus {
  color: var(--accent-text-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-icon-color);
  transition: color var(--transition), background-color var(--transition);
}
.social__link:hover, .social__link:focus {
  color: var(--white-text-color);
  background-color: var(--accent-social-link);
}
.social__link--footer-color {
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-text-color);
}

.footer .social--gap {
  --card-gap: 10px;
}

.team-card .social--gap {
  --card-gap: 10px;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg-color);
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop--visible {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1, 1);
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
}

.form-signup__input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}
.form-signup__input:placeholder-shown {
  color: rgba(255, 255, 255, 0.6);
}
.form-signup__input:focus {
  color: var(--white-text-color);
}

.form {
  color: var(--primary-text-color);
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  align-self: center;
  margin-bottom: 12px;
}

.form__field {
  display: block;
}

.form__input-wrap {
  position: relative;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__textarea:placeholder-shown {
  color: rgba(var(--primary-text-color), 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__icon-input {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 12px 5px 12px 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.17;
  transform: border-color var(--transition);
}

.form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.17;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transform: border-color var(--transition);
}

/* ---------- modal icon .checkbox ----------- */
.form__checkbox-policy {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  margin-top: 0;
}

.form__checkbox {
  /* appearance: none; + вендори для браузерів  - ховають чекбокс*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__icon-check {
  display: inline-flex;
  align-self: center;
  border: 2px solid;
  border-color: var(--title-text-color);
  border-radius: 2px;
  margin-right: 9px;
  transition: background-color var(--transition), border-color var(--transition);
}

.form__checkbox:checked + .form__icon-check {
  border-color: transparent;
  background-color: var(--accent-text-color);
}
.form__checkbox:focus-visible + .form__icon-check {
  border-color: var(--accent-text-color);
  background-color: var(--accent-text-color);
}

.form__checkbox-label {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form__checkbox-link {
  text-decoration: underline;
  color: var(--accent-text-color);
}

.form__field:focus-within .form__icon-input, .form__field:focus-within .form__input, .form__field:focus-within .form__textarea {
  border-color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.form__btn {
  display: block;
  margin: 0 auto;
}

.address__list {
  --card-gap: 9px;
  flex-direction: column;
}

.address__link {
  display: inline-flex;
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-text-color);
  transition: color var(--transition);
}
.address__link--opacity {
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-text-color);
}

.site-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-color);
}

.site-nav__current {
  position: relative;
  color: var(--accent-text-color);
}
.site-nav__current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translatex(-50%);
  height: 4px;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__link {
  color: var(--primary-text-color);
  transition: color var(--transition);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container,
.header__nav {
  align-items: center;
  --card-gap: 0;
}

.header .site-nav {
  --card-item: 3;
  --card-gap: 50px;
}
.header .contacts {
  --card-item: 2;
  --card-gap: 30px;
  align-items: center;
}
.header .contacts {
  margin-left: auto;
}
.header .contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackgroundimg.jpg");
  /* резервний колір */
  background-color: var(--black-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--white-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.features {
  padding-bottom: 0;
}

.features__list {
  --card-item: 4;
  --card-gap: 30px;
}

.feature__icon-wrap {
  height: 120px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
}

.feature-wrap__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-wrap__text {
  font-size: 14px;
  line-height: 1.71;
}

.work__item {
  position: relative;
  --card-item: 3;
  --card-gap: 30px;
}

.work__text {
  position: absolute;
  padding: 27px 5px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team__list {
  --card-item: 4;
  --card-gap: 30px;
}

.team--bg {
  background-color: var(--secondary-bg-color);
}

.team__item {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-card {
  padding: 30px 10px;
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.client__list {
  --card-item: 6;
  --card-gap: 30px;
}

.client__link {
  position: relative;
  display: block;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);
  transition: border-color var(--transition), color var(--transition);
}

.client__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
}
.client__icon:hover, .client__icon:focus {
  border-color: var(--accent-text-color);
  color: var(--accent-text-color);
}

.portfolio__filter {
  --card-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
}

.portfolio__list {
  --card-item: 3;
  --card-gap: 30px;
}

.portfolio__item {
  background-color: var(--primary-white-color);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--portfolio-bg-overlay);
  transform: translatey(100%);
  transition: transform var(--transition);
}

.portfolio__note {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
}

.portfolio__wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.portfolio__link {
  transition: box-shadow var(--transition);
}
.portfolio__link:hover, .portfolio__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translatey(0);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  --card-gap: 0;
  align-items: baseline;
}

.footer--color {
  background-color: var(--black-bg-color);
}

.footer__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}
.footer__title--white {
  color: var(--white-text-color);
}

.footer__contact {
  margin-right: 70px;
}

.footer__social {
  margin-right: 93px;
}/*# sourceMappingURL=main.css.map */