.client__list {
  --card-item: 2;
  @media (max-width: 480px) {
    --card-gap: calc(30 * (100vw / 480));
  }
  @include mq(tab) {
    --card-item: 3;
  }
  @include mq(desc) {
    --card-item: 6;
  }
}

.client__link {
  position: relative;
  display: block;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);
  transition: border-color var(--transition), color var(--transition);
  @media (max-width: 480px) {
    height: calc(92 * (100vw / 480));
  }
}

.client__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
    color: var(--accent-text-color);
  }
  @media (max-width: 480px) {
    width: calc(106 * (100vw / 480));
    height: calc(60 * (100vw / 480));
  }
}
