.features {
  @include mq(desc) {
    padding-bottom: 0;
  }
}

.features__list {
  @media (max-width: 480px) {
    --card-gap: calc(30 * (100vw / 480));
  }

  @include mq(tab) {
    --card-item: 2;
  }
  @include mq(desc) {
    --card-item: 4;
  }
}

.feature__icon-wrap {
  display: flex;
  height: 120px;
  // width: 270px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
  @media (max-width: 480px) {
    height: calc(120 * (100vw / 480));
    margin-bottom: calc(30 * (100vw / 480));
    border-radius: calc(4 * (100vw / 480));
  }
}

.feature__icon {
  @media (max-width: 480px) {
    width: calc(70 * (100vw / 480));
    height: calc(70 * (100vw / 480));
  }
}

.feature-wrap__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
  @media (max-width: 480px) {
    font-size: calc(14 * (100vw / 480));
    margin-bottom: calc(10 * (100vw / 480));
  }
  @include mq(mob-only) {
    text-align: center;
  }
}

.feature-wrap__text {
  font-size: 14px;
  line-height: 1.71;
  @media (max-width: 480px) {
    font-size: calc(14 * (100vw / 480));
  }
}
