.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: 480px) {
    padding-top: calc(60 * (100vw / 480));
    padding-bottom: calc(60 * (100vw / 480));
  }

  &--color {
    background-color: var(--black-bg-color);
  }

  .address__list {
    --card-gap: 8px;
    flex-direction: column;
    @include mq(desc) {
      --card-gap: 9px;
    }
  }
}

// @include mq(tab) {
//   --card-item: 3;
// }

.footer__container {
  display: flex;
  text-align: center;
  --card-gap: 60px;
  justify-content: center;

  @media (max-width: 480px) {
    --card-gap: calc(60 * (100vw / 480));
  }

  @include mq(tab) {
    --card-item: 2;
    justify-content: space-around;
    align-items: baseline;
    row-gap: 60px;
  }

  @include mq(desc) {
    text-align: left;
    --card-gap: 0px;
  }
}

.footer__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  &--white {
    color: var(--white-text-color);
  }
  @media (max-width: 480px) {
    font-size: calc(14 * (100vw / 480));
  }
}

@include mq(desc) {
  .footer__contact {
    margin-right: 70px;
  }

  .footer__social {
    margin-right: 93px;
  }
}
