.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  &--color {
    background-color: var(--black-bg-color);
  }

  .address__list {
    --card-gap: 9px;
    flex-direction: column;
  }
}

.footer__container {
  --card-gap: 0;
  align-items: baseline;
}

.footer__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  &--white {
    color: var(--white-text-color);
  }
}

.footer {
  &__contact {
    margin-right: 70px;
  }

  &__social {
    margin-right: 93px;
  }
}
