.header {
  border-bottom: 1px solid #ececec;
  @include mq(mob-only) {
    .site-nav,
    .contacts {
      display: none;
    }
  }
}

.header__container,
.header__nav {
  align-items: center;
  --card-gap: 0;
}
