.hero {
  width: 100vw;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/herobackgroundimg.jpg');
  /* резервний колір */
  background-color: var(--black-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq(desc) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--white-text-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;

  @include mq(desc) {
    width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}
