.portfolio__filter {
  display: inline-flex;

  --card-gap: 8px;
  margin-bottom: 40px;
  text-align: center;

  @media (max-width: 480px) {
    --card-gap: calc(8 * (100vw / 480));
    margin-bottom: calc(40 * (100vw / 480));
  }

  @include mq(tab) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @include mq(desc) {
    margin-bottom: 50px;
  }
}

.portfolio__list {
  --card-item: 3;
  --card-gap: 30px;
}

.portfolio__item {
  background-color: var(--primary-white-color);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  @media (max-width: 480px) {
    padding-top: calc(77 * (100vw / 480));
    padding-left: calc(24 * (100vw / 480));
    padding-right: calc(24 * (100vw / 480));
    padding-bottom: calc(77 * (100vw / 480));
  }

  @include mq(tab) {
    padding-top: 49px;
  }

  @include mq(desc) {
    padding-top: calc(63 * (100vw / 480));
    padding-bottom: calc(63 * (100vw / 480));
  }

  background-color: var(--portfolio-bg-overlay);
  transform: translatey(100%);
  transition: transform var(--transition);
}

.portfolio__note {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  @media (max-width: 480px) {
    font-size: calc(18 * (100vw / 480));
  }
}

.portfolio__wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  @media (max-width: 480px) {
    padding-top: calc(20 * (100vw / 480));
    padding-left: calc(24 * (100vw / 480));
    padding-right: calc(24 * (100vw / 480));
    padding-bottom: calc(20 * (100vw / 480));
  }
}

.portfolio__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  @media (max-width: 480px) {
    font-size: calc(18 * (100vw / 480));
    margin-bottom: calc(4 * (100vw / 480));
  }
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  @media (max-width: 480px) {
    font-size: calc(16 * (100vw / 480));
  }
}

.portfolio__link {
  transition: box-shadow var(--transition);
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio__overlay,
  &:focus .portfolio__overlay {
    transform: translatey(0);
  }
}
