.team__list {
  @media (max-width: 480px) {
    --card-gap: calc(30 * (100vw / 480));
  }

  @include mq(tab) {
    display: flex;
    --card-item: 2;
  }
  @include mq(desc) {
    --card-item: 4;
  }
}

.team--bg {
  background-color: var(--secondary-bg-color);
}

.team__item {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-card {
  padding: 30px 10px 24px;
  @media (max-width: 480px) {
    padding-top: calc(30 * (100vw / 480));
    padding-left: calc(10 * (100vw / 480));
    padding-bottom: calc(24 * (100vw / 480));
  }

  @include mq(desc) {
    padding-bottom: 30px;
  }
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  @media (max-width: 480px) {
    font-size: calc(16 * (100vw / 480));
    margin-bottom: calc(10 * (100vw / 480));
  }
}

.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  @media (max-width: 480px) {
    font-size: calc(16 * (100vw / 480));
    margin-bottom: calc(16 * (100vw / 480));
  }
}
