.address__link {
  display: inline-flex;
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-text-color);
  transition: color var(--transition);
  &--opacity {
    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
