button {
  cursor: pointer;
}

%btn {
  /* reset browser styles  - для кнопки потрібно скидати стилі*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 22px;
  border-radius: 4px;
  border-width: 0;
  font-family: inherit;

  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;

  font-style: inherit;
  letter-spacing: inherit;
  text-align: center;
  border-color: transparent;
  color: var(--title-text-color);
  background: var(--secondary-bg-color);
  @media (max-width: 480px) {
    padding-top: calc(6 * (100vw / 480));
    padding-left: calc(22 * (100vw / 480));
    padding-right: calc(22 * (100vw / 480));
    padding-bottom: calc(6 * (100vw / 480));
    font-size: calc(16 * (100vw / 480));
    border-radius: calc(4 * (100vw / 480));
  }
}

.btn-primary {
  @extend %btn;
  white-space: nowrap;
  max-width: 200px;
  // word-wrap: initial;
  padding: 10px 32px;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
  &:hover,
  &:focus {
    background-color: var(--primary-btn-bg-accentcolor);
  }
  &__icon--append {
    margin-left: 10px;
    fill: currentColor;
    @media (max-width: 480px) {
      width: calc(24 * (100vw / 480));
      height: calc(24 * (100vw / 480));
      margin-left: calc(10 * (100vw / 480));
    }
  }
  @media (max-width: 480px) {
    padding-top: calc(10 * (100vw / 480));
    padding-left: calc(32 * (100vw / 480));
    padding-right: calc(32 * (100vw / 480));
    padding-bottom: calc(10 * (100vw / 480));
    font-size: calc(16 * (100vw / 480));
  }
}

.btn-secondary {
  @extend %btn;
  transition: color var(--transition), box-shadow var(--transition),
    background-color var(--transition);
  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    color: var(--white-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  @media (max-width: 480px) {
    padding-top: calc(10 * (100vw / 480));
    padding-left: calc(32 * (100vw / 480));
    padding-right: calc(32 * (100vw / 480));
    padding-bottom: calc(10 * (100vw / 480));
    font-size: calc(16 * (100vw / 480));
  }
}

.btn-modal {
  @extend %btn;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--black-text-color);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
  @media (max-width: 480px) {
    height: calc(30 * (100vw / 480));
    width: calc(30 * (100vw / 480));
    right: calc(8 * (100vw / 480));
  }
}

.btn-modal__icon {
  fill: currentColor;
  @media (max-width: 480px) {
    height: calc(18 * (100vw / 480));
    width: calc(18 * (100vw / 480));
  }
}

.btn-menu {
  @extend %btn;
  position: absolute;
  padding: 0;
  border-radius: 0;
  top: 10px;
  right: 15px;
  color: black;
  background-color: transparent;
  transition: color var(--transition), opacity var(--transition);
  z-index: 50;
  & .icon-menu-close {
    display: none;
    transition: color var(--transition);
  }
  &.is-open .icon-menu-close {
    display: block;
    transition: color var(--transition);
  }

  &.is-open .icon-menu {
    display: none;
    transition: color var(--transition);
  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.button_icon-menu {
  fill: currentColor;
}

@include mq(tab) {
  .btn-menu {
    display: none;
  }
}
