.logo {
  display: block;
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--logo-text-color);
  padding-top: 16px;
  padding-bottom: 16px;

  @media (max-width: 480px) {
    font-size: calc(24 * (100vw / 480));
  }

  @include mq(tab) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include mq(desc) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--black {
  color: #000000;
}
.logo--white {
  color: #ffffff;
}

.logo--header-gap {
  @include mq(tab) {
    margin-right: 88px;
  }
  @include mq(desc) {
    margin-right: 93px;
  }
}

.logo--footer-gap {
  padding: 0;
  margin-bottom: 20px;
}
